@import url(https://fonts.google.com/specimen/Poppins);

:root {
	font-size: 16px;
	--Red: hsl(0, 100%, 74%);
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--Dark-Blue: hsl(249, 10%, 26%);
	--Grayish-Blue: hsl(246, 25%, 77%);
}

body {
	background: var(--Red) url(/images/bg-intro-mobile.png);
	font-family: 'Poppins', sans-serif;
}

#wrapper {
	display: flex;
	flex-flow: column nowrap;
	margin: 2rem 0;
}

header {
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	margin: 2rem 0;
	padding: 0 0.3rem;
}

header h2 {
	width: 80%;
}

header p {
	line-height: 1.5rem;
}

section {
	background: var(--Blue);
	margin: 0.5rem;
	padding: 1rem 4rem;
	color: white;
	text-align: center;
	line-height: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 5px rgba(0, 0, 0, 0.2);
	margin: 1rem;
}

section span {
	font-weight: 700;
}

main {
	background: white;
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.info {
	box-sizing: border-box;
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid var(--Grayish-Blue);
	border-radius: 0.5rem;
	font-weight: 700;
}

input[type="submit"] {
	width: 100%;
	padding: 1rem;
	text-transform: uppercase;
	color: white;
	background: var(--Green);
	font-weight: 700;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0 5px rgba(17, 126, 54, 0.5);
}

#terms {
	font-size: 0.5rem;
	margin: 1rem 1rem 0;
	padding: 0 1rem;
	line-height: 1.5rem;
	text-align: center;
	color: var(--Grayish-Blue);
}

#terms span {
	color: var(--Red);
	font-weight: 800;
}

@media screen and (min-width: 1440px) {
	#wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: repeat(2, 1fr);
		grid-template-areas: "header section" "header main";
	}
	header {
		grid-area: header;
	}
	section {
		grid-area: section;
	}
	main {
		grid-area: main;
	}
}
